# Ignore environment file
frontend/.env

# Environment files
backend/myenv/


# Dependencies
frontend/node_modules
/.pnp
.pnp.js
/package-lock.json
/yarn.lock




# Build outputs
/dist
/build
/.nuxt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/coverage
/.nyc_output

# Temporary files
*.tmp
*.temp
.cache

# System Files
.DS_Store
Thumbs.db
