/* .features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
} */
.featureSvg {
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}
.featureSvg:hover {
  transform: scale(1.05);
}
